# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties
keystore.properties

# IntelliJ project files
*.iml
*.iws
.idea/

# Android Studio captures folder
/captures

# Others
.DS_Store
Thumbs.db
lint.xml
